.popup-box {
    position: absolute;
    border-radius: 5px;
    background: #fff;
    display: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    z-index: 9999999;
    font-size: 14px;
}

.popup-box .close {
    position: absolute;
    top: 0px;
    right: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
    color: #434343;
    padding: 10px;
    font-size: 20px;
}

.popup-box .close:hover {
    color: #000;
}

.popup-box h2 {
    padding: 0;
    margin: 0;
    font-size: 18px;
}

.popup-box .top {
    padding: 10px;
}

.popup-box .bottom {
    background: #eee;
    border-top: 1px solid #e5e5e5;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.popup-box button {
    color: #FFF;
    background: #55ACEE linear-gradient(transparent, rgba(0, 0, 0, 0.05)) no-repeat;
    border: 1px solid #3B88C3;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1) inset;
    padding: 4px 12px 9px;
    margin: 5px 5px 5px 0;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    line-height: normal;
    position: relative;
}

.popup-box .ng-prompt-fields {
    margin: 5px 0;
}

.popup-box label {
    display: block;
    margin: 0px;
}

.popup-box label > span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: #888;
}

.popup-box input[type="text"], .popup-box input[type="email"], .popup-box input[type="checkbox"], .popup-box textarea, .popup-box select {
    border: 1px solid #DADADA;
    height: 25px;
    width: 65%;
    margin: 5px;
}

.popup-box select {
    height: 30px;
    width: 65%;
    margin: 5px;
}

.popup-box input[type="checkbox"] {
    width: 15px;
}

.blackout,
#blackout {
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    overflow: hidden;
    z-index: 9999;
    left: 0;
    display: none;
}